@import '@servicenow/sass-kit/host';

#create_ticket {
  float: right;
  margin-right: 60px;
}

#admin_control_panel {
  display: inline-block;
  width: 100%;
  outline: 2px solid black;
}

#admin_control_panel_title {
  margin-left: 40px;
}

#loader {
  margin-top: 40px;
}

#list_item {
  margin: 20px;
}

#title {
  margin-left: 40px;
}

#list {
  list-style-type:none;
}

#view {
  float: right;
  margin-right: 40px;
}

#create_new{
  float: right;
  margin-right: 60px;
  margin-bottom: 20px;
}